<head>
<title>Simple Shape Viewer</title>
<style>
body {
}
.firstsearch {
  width: 80%;
  background-color: black;
  color: #33ff33;
  border: 3px solid limegreen;
}
.formy {
  display: inline;
}
</style>
</head>
<div id="main">
  <canvas id="c" width="400" height="400" ></canvas>

  <div id="homebar">
    <span id="fps"></span>
    <input type="text" name="finder" id="dirsearch" class="firstsearch"></input>
    <button class="toggles" id="searchbut">change directory</button>
  </div>

</div>

