<head>
<title>Simple Shape Viewer</title>
<style>
body {
  background-color: black;
  color: LimeGreen;
  white-space: nowrap;
}
#c {
  border: 2px solid black;
  width: 40em;
  height: 30em;
  position: fixed;
  margin: auto;
}
#whatFile {
  width: 2em;
}
#main {
}
#usage {
  display: block;
  text-align: left;
  max-width: 30em;
  margin: auto;
}
.toggles {
  background-color: black;
  color: limegreen;
  border: 2px solid green;
}
.search {
  width: -webkit-fill-available;
  background-color: black;
  color: #33ff33;
  border: 2px solid green;
  margin-right: -6px;
  margin-left: 6px;

}
#butspace{
  display: flex;
  position: fixed;
  margin: auto;
  bottom: 20;
  width: 74%;
  height: 1.5em;
}
#subList{
  border: 1px solid green;
  position: fixed;
  right: 0;
  bottom: 20;
  padding: 4px
}
.formy {
  display: inline;
}
</style>
</head>
<div id="main">
  <canvas id="c" width="400" height="400" ></canvas>

  <div id="butspace">
    <button id="nbut" class="toggles">change norms</button>
    <button id="cbut" class="toggles">change color</button>
    <input type="text" name="finder" id="dirsearch" class="search"></input>
    <button class="toggles" id="searchbut">change directory</button>
  </div>

  <table id="subList">

  </div>
</div>

<script id="vs" type="x-shader/x-vertex">#version 300 es

  in vec4 a_position;
  in vec3 a_normal;
  in vec3 a_tnormal;
  out vec3 v_normal;
  out vec3 v_surfacetolite;
  out vec3 v_surfacetoview;
  uniform mat4 u_worldviewprojection;
  uniform mat4 u_worldinvtrans;
  uniform mat4 u_world;
  uniform vec3 u_liteworldpos;
  uniform vec3 u_viewworldpos;
  uniform float u_normtype;

  void main() {
    gl_Position = u_worldviewprojection * a_position;

    v_normal = mat3(u_worldinvtrans) *  normalize(a_tnormal * u_normtype + a_normal * (1.0 - u_normtype));
    //v_normal = mat3(u_worldinvtrans) * a_normal;

    //vec3 surfaceworldpos = vec3(u_worldviewprojection * a_position).xyz;  //moves past light
    vec3 surfaceworldpos = (u_world * a_position).xyz;

    v_surfacetolite = normalize( u_liteworldpos - surfaceworldpos );

    v_surfacetoview = u_viewworldpos - surfaceworldpos;
  }

</script>
<script id="fs" type="x-shader/x-fragment">#version 300 es

  precision mediump float;
  in vec3 v_normal;
  in vec3 v_surfacetolite;
  in vec3 v_surfacetoview;
  out vec4 outColor;
  uniform vec3 u_litdirection;
  uniform vec3 u_litcolor;
  uniform vec3 u_specularcolor;
  uniform vec3 u_basecolor;

  void main() { 

    vec3 surfaceToLightDir = normalize(v_surfacetolite);
    vec3 surfaceToViewDir = normalize(v_surfacetoview);
    vec3 halfVector = normalize(surfaceToLightDir - surfaceToViewDir);
    vec3 mix_color = u_basecolor;

    float light = dot(v_normal,v_surfacetolite);
    float specular = dot(v_normal,halfVector);
    specular = pow(specular,128.0);

    mix_color *= u_litcolor * light;
    mix_color += specular * u_specularcolor;
    mix_color.rgb += vec3(v_normal.r * .25, v_normal.g * .1, v_normal.b * .2);

    outColor = vec4(mix_color,1);
  }

</script>
<script src="/shape/scripts/main.js"></script>
<script src="/shape/scripts/math.js"></script>

